:root {
  // PRIMARY
  --primary-color: rgb(0, 123, 255);
  --behind-color: #f2f7ff;
  --primary-color-rgba: #ee4d2d80;
  --background-color: #F8F7FD;
  --success-color: #28a745;
  --pending-color: #cf9c01;
  --warning-color: #ffc107;
  --danger-color: rgb(220, 53, 69);
  --running-color: #007bff;
  --normal-color: #f8f9fa;
  // TEXT 
  --text-color: #333;

  // BORDER
  --border-color: #dbdbdbdb;
  --border-color-2: #aaa9a9db;

  // BUTTON
  --btn-color: #007bff;

  // BUTTON ADD
  --btn-add-hover: #1e7e34;
  --btn-add: #218838;
  --btn-add-border: #1e7e34; 

  --btn-success: #1e7e34;
  --close-btn-color: #6c757d;

  // 
  --white-color: #ffffff;
  --black-color: #000;
  --blue-color: #007bff;
  --green-color: #17a2b8;
  --red-color: #dc3545;
  --blue-color-rgba: rgba(0, 123, 255, 0.1);
}
// -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
* {
  box-sizing: inherit;
  
}

html {
  /* Hack font size 1rem = 10px */
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  
}

button[disabled] {
  pointer-events: none !important;
  opacity: 0.3 !important;
  // background: #c3c3c3;
  // color: #94949494;
  // border: 1px solid #94949494;
  // background: var(--white-color) !important;
  // color: var(--white-color)!important;
  // border: 1px solid var(--white-color)!important;
}
div[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
input[disabled] {
  pointer-events:none;
  // color:#AAA;
  // background:#F5F5F5;
}
input.disabled {
  pointer-events:none !important;
  background:#f7f7f7;
}
.invalid input,
.invalid select,
.invalid .form-control:focus{
  color: #495057;
  background-color: #fff;
  border-color: var(--danger-color) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69,0.25) !important;
}

.invalid .form-message{
  color: var(--danger-color);
  
}
// FORM VALIDATE
.form-group {
  display: flex;
  flex-direction: column;
  font-size: 13px !important;
  margin: 0 !important;
  margin-bottom: 4px !important;
}
.col-form-label {
  font-size: 16px !important;
  font-weight: 600;
}
.form-control {
  font-size: 16px !important;
}
.form-control::placeholder {
  font-size: 14px !important;
  color: rgb(153, 153, 153);
}
.form-message {
  font-size: 14px !important; 
  padding-top: 8px!important;
}
// TEMPLATE KHUNG
.row-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}
.gird__full-width {
  width: 100%;
}
.grid__item {
  margin: 16px 36px;
}
.grid__content {
  margin: 16px 32px;
  display: flex;
  flex-direction: column;
}

/* ANIMATION */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

/* MODAL */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  animation: fadein linear 0.1s;
  z-index: 1;
  /* display: none; */
}

.custom-modal__overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  margin-top: 5vh;
  position: relative;
  z-index: 1;
  animation: growth linear 0.1s;
}

/* BUTTON */
.btn--custome {
  width: 124px;
  height: 36px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  position: relative;
}
.btn--add {
  background-color: var(--btn-add);
  
  border-color: var(--btn-add-border);
  color: var(--white-color);
}
.bth--add:focus {
  box-shadow: 0 0 0 0.2 rgba(40,167,69 , 50%);
}
.btn--add:hover {

}

.btn.btn--normal:hover {
  background: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
  color: var(--white-color);
  background: var(--btn-color);
}

.btn.btn--disable {
  cursor: default;
  background: #c3c3c3;
  color: #94949494;
}

.btn--delete-item,
.btn--edit-item,
.btn--view-item {
  width: 45px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 3px;

  cursor: pointer;
  margin: 0 4px;
}

.btn--delete-item,
.btn--edit-item,
.btn--view-item:target {
  // outline: none !important;
  // border: none  !important;
}

.btn--view-item {
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.btn--delete-item {
  background-color: var(--red-color);
  border: 1px solid var(--red-color);
}

.btn--edit-item {
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
}
.btn--item {
  height: 30px;
  font-size: 12px !important;
  text-align: center;
  font-weight: 600;
  padding: 6px !important;
  margin: 0 4px;
  border: none !important;
}
.btn--item-min-width {
  width: 40px;
}

/* MODAL FORM */
.btn--send-dialog,
.btn--close-dialog,
.btn--delete-dialog {
  cursor: pointer;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  width: 100px;
  height: 35px;
  font-weight: 500;
  margin: 0 8px;
  border: none;
  align-items: center;
}
.btn--send-dialog {
  background-color: var(--blue-color);
}

.btn--delete-dialog {
  background-color: var(--red-color);
}

.btn--close-dialog {
  background-color: var(--close-btn-color);
}


.modal-body-descreption {
  font-size: 16px;
  color: var(--text-color);
  margin: 16px 0;
}

// Table
.table--default {
  font-size: 14px;
  cursor: default;
}
.info-group label:first-child{
  font-weight: 700;
  margin-right: 10px;
}
.scrollbar-custom{
    overflow: auto;
    position: relative;
}
.scrollbar-custom th {
    top: 0;
    position: sticky;
}
.scrollbar-custom::-webkit-scrollbar {
    width: 10px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888; 
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

// table
.table--min {
  font-size: 14px;
}
.icon-check--on {
  text-align: left;
  font-size: 18px;
  color: #218838;
}
.td-contain-btn {
  text-align: right;
  width: 200px;
}
.td-contain-check-icon {
  text-align: left;
  
}
.table {
  margin-top: 8px;
  box-sizing: border-box;
}
.table th,
.table td {
  padding: 6px !important;
}
.table td {
  
}
// STATUS
.status--new {
  border: 2px solid var(--success-color);
  color: var(--success-color);
  // background-color: var(--success-color);
  padding: 2px 4px;
  width: fit-content;
  block-size: fit-content;
  border-radius: 3px;
  font-weight: 600;
}
.status--success {
  border: 2px solid var(--success-color);
  color: var(--white-color);
  background-color: var(--success-color);
  padding: 2px 4px;
  width: fit-content;
  block-size: fit-content;
  border-radius: 3px;
  font-weight: 600;
}
.status--pending {
  border: 2px solid var(--pending-color);
  color: var(--pending-color);
  // background-color: var(--pending-color);
  padding: 2px 4px;
  width: fit-content;
  block-size: fit-content;
  border-radius: 3px;
  font-weight: 600;
}
.status--waiting {
  border: 2px solid var(--running-color);
  color: var(--white-color);
  background-color: var(--running-color);
  padding: 2px 4px;
  width: fit-content;
  block-size: fit-content;
  border-radius: 3px;
  font-weight: 600;
}
.status--danger {
  border: 2px solid var(--danger-color);
  color: var(--white-color);
  background-color: var(--danger-color);
  text-align: center;
  padding: 2px 8px;
  width: fit-content;
  block-size: fit-content;
  border-radius: 3px;
  font-weight: 600;
}
//  TOOLBAR
.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
    height: 38px;
}
.toolbar__search {
    width: 300px;
    // margin-right: 16px;
    // border-radius: 5px;
    // display: flex;
    // align-items: center;
    // background-color: var(--white-color);
    // box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.toolbar__search-input {
    // border: none;
    // outline: none;
    // font-size: 14px;
    // margin-left: 8px;
}
.toolbar__search-icon {
    // font-size: 16px;
    // font-weight: 700;
    // color: var(--text-color);
    // cursor: pointer;
    // margin: 0 4px;
}

.toolbar__filter {
    margin-right: auto;
    width: 50px;
}
.toolbar__filter-btn {
    border: none;
    color: var(--text-color);
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    outline: none;
}
.toolbar__btn {
    margin-left: auto;
}
.toolbar__filter-menu {

}
.toolbar__filter-item {
  font-size: 14px;
}

// TEMPLATE HEADER TITLE
.header__breadcrumb {
  display: flex;
  align-items: center;
  
}
.header__breadcrumb-main {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.header__breadcrumb-item {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.header__breadcrumb-item ::-moz-focus-inner {
  border: 0;
}
.header__breadcrumb-item--floating {
  font-weight: 600 !important;
  
}
