.html {
    font-size: 14px;
    
}
.container {
}  
.bill {
    width: 60vw;
    margin: 10px auto;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 0px 16px 16px;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.1);
    overflow: hidden;
}
.bill__header {
    margin: 0 -20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    color: var(--white-color);
}
.bill__header-name {
    font-size: 20px;
    font-weight: 600;
}   
.bill__header-company-name {
    font-size: 13px;   
}
.bill__header-phone {
    font-size: 13px;
}
.bill__header-phone {
    font-size: 13px;
}
.bill__customer-info {
    font-size: 14px;
}
.bill__repair-info {

}
.bill__repair-info__table-material {

}
.bill__repair-info__table-wage {

}
.bill__money-info {
    font-size: 16px;
    display: flex;
    justify-content: right;
    margin-right: 46px;
    margin-bottom: 16px;
}
.bill__money-info-detail {

}
.bill__footer{
    display: flex;
    align-items: center;
    justify-content: right;
}
.bill__footer .btn {
    margin-left: 16px;
    margin-bottom: 16px;
}
.bill__repair-info table {
    font-size: 14px !important;
}
.input-money {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-debt {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}