<link rel="stylesheet" href="./css/brand.css">

{{!-- THÊM --}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    {{#each brands}}
    <tr>
      {{!-- 1 hiệu xe --}}
      <th scope="row">{{this._id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button class="btn-delete" data-id="{{this._id}}" >Xoa</button>
        <button class="btn-edit" data-id="{{this._id}}" data-toggle="modal" data-target="#form-edit">Sua</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<form method="POST" action="/brand/create">
  <div class="form-group">
    <label for="input-name">Tên hiệu xe</label>
    <input type="text" class="form-control" 
        id="input-name" 
        placeholder="name"
        name="name">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{!-- FORM SUA --}}


<form name="form-delete" method="POST" action=""></form>
<form name="form-edit" method="POST" action="">
  <div class="modal fade" id="form-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="form-edit-name" class="col-form-label">Hiệu xe:</label>
              <input type="text" class="form-control" id="form-edit-name" name="name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn--close-dialog" data-dismiss="modal">Đóng</button>
          <button id="btn-accept-edit" type="button" class="btn--send-dialog">Sửa</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var brandId;
    var tdActive;
    var btnDelete = $('.btn-delete')
    var btnAcceptEdit = $('#btn-accept-edit')
    var formEdit = document.forms['form-edit']
    var btnEdit = $('.btn-edit')
    btnDelete.click(function() {
        var brandId = $(this).attr('data-id')
    })

    $('#form-edit').on('shown.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        brandId = button.data('id')
    })
    btnAcceptEdit.click(function() {
      formEdit.action = '/brand/' + brandId + '/edit?_method=PUT'
      formEdit.submit()
    })
    btnEdit.click(function(){
      var row = $(this).parents('tr')[0]
      $('#form-edit-name').val(row.cells[1].textContent)
    })
  })
</script>