<link rel="stylesheet" href="./css/brand.css">

{{!-- THÊM --}}
<h3>SADADASD</h3>
<form method="POST" action="/brand/create">
  <div class="form-group">
    <label for="input-name">Tên hiệu xe</label>
    <input type="text" class="form-control" 
        id="input-name" 
        placeholder="name"
        name="name">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{{!-- Muốn gửi dữ liệu đi. thì phải có 1 cái form tạm để tạo các phương thức --}}