@charset "UTF-8";
/* Form POP UP */
.container__customer-history {
  margin: 16px 36px; }

.customer-history__form-btn-close {
  font-size: 16px; }

/* HEADER */
.header__customer-history {
  display: flex;
  text-align: center;
  justify-content: space-between; }

.header__customer-history__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color); }

/* BODY */
.ctner__customer-history {
  height: 75vh; }

/* THANH TIỆN ÍCH */
.toolbar__search-input {
  width: 250px; }

/* DANH SÁCH LỊCH SỬ KHÁCH HÀNG */
.list-customer-history {
  background-color: var(--white-color);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  border-collapse: collapse;
  width: 100%; }

.list-customer-history__table {
  font-size: 14px;
  cursor: default;
  text-align: center; }

.list-customer-history button {
  width: 60px; }
