* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  background-color: #f5f5f5; }

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ac-c {
    align-items: center; }

.shadow {
  border-radius: .5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

hr.solid {
  border-top: 1px solid #bbb;
  margin: 0 40px; }

.employeeTag__body__table tbody > tr:hover {
  color: #ec1f55; }

.employeeTag__body__btnContainer {
  display: block;
  padding: 0;
  padding-right: 2em;
  height: 50px; }
  .employeeTag__body__btnContainer button {
    margin-left: 2%; }

.employeeTag__body .modifiedButton {
  border: none;
  background-color: transparent;
  opacity: 0; }

.employeeTag__body__infoModal {
  height: auto; }
  .employeeTag__body__infoModal .infoTable {
    margin: 1em;
    width: 100%;
    margin-top: .2em; }
    .employeeTag__body__infoModal .infoTable input {
      float: right;
      width: 100%; }
    .employeeTag__body__infoModal .infoTable tr {
      margin-top: 1em; }
    .employeeTag__body__infoModal .infoTable .id, .employeeTag__body__infoModal .infoTable .name, .employeeTag__body__infoModal .infoTable .tag {
      text-align: right; }
  .employeeTag__body__infoModal .functionTable {
    margin: 0 4em;
    width: 100%;
    text-align: center; }

.employeeTag__body .divider {
  border-bottom: 1px black solid; }
