* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  background-color: #f5f5f5; }

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ac-c {
    align-items: center; }

.shadow {
  border-radius: .5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

hr.solid {
  border-top: 1px solid #bbb;
  margin: 0 40px; }

.employeeManagerment__body__table tbody > tr:hover button {
  opacity: 1; }

.employeeManagerment__body .infoModal {
  width: 750px; }
  .employeeManagerment__body .infoModal .infoDiv {
    width: 100%;
    margin: 0 2em; }
    .employeeManagerment__body .infoModal .infoDiv .name {
      display: block; }
    .employeeManagerment__body .infoModal .infoDiv .limitOffDate {
      display: block; }
    .employeeManagerment__body .infoModal .infoDiv .phoneNumber {
      display: block; }
  .employeeManagerment__body .infoModal .tagDiv {
    width: 100%;
    margin: 0 2em; }
  .employeeManagerment__body .infoModal .contentDiv {
    width: 100%;
    margin: 0 2em;
    margin-top: 1em; }
    .employeeManagerment__body .infoModal .contentDiv .card {
      margin-top: 1em; }
      .employeeManagerment__body .infoModal .contentDiv .card .card-text {
        margin: 0; }
      .employeeManagerment__body .infoModal .contentDiv .card .btn {
        float: right; }
      .employeeManagerment__body .infoModal .contentDiv .card .title {
        font-weight: bold;
        margin-bottom: .3em; }
      .employeeManagerment__body .infoModal .contentDiv .card .card__info {
        margin-top: .2em;
        margin-bottom: .2em;
        display: block;
        width: 50%;
        float: left; }
        .employeeManagerment__body .infoModal .contentDiv .card .card__info .permission {
          font-weight: bold;
          color: green; }
      .employeeManagerment__body .infoModal .contentDiv .card .textDiv {
        margin-top: .2em;
        margin-bottom: .2em;
        display: block;
        width: 30%;
        height: 100%; }
  .employeeManagerment__body .infoModal .btnDiv {
    width: 100%;
    margin: 1em;
    margin-bottom: 0; }
  .employeeManagerment__body .infoModal .modal-footer .btnDiv {
    width: auto;
    margin: 0 auto; }
  .employeeManagerment__body .infoModal .modal-footer .pageBtn {
    border: none;
    padding: 8px;
    background-color: transparent;
    border-radius: 10%; }
    .employeeManagerment__body .infoModal .modal-footer .pageBtn:hover {
      background-color: #ec1f55;
      color: white; }
  .employeeManagerment__body .infoModal .modal-footer .pageBtn.active {
    background-color: #ec1f55;
    color: white;
    font-weight: bold; }
