/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
/* End Fonts */
/* Start Global rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* End Global rules */
/* Start body rules */
body {
  background-image: linear-gradient(-225deg, #daf0fd 0%, #9fd9fa 50%);
  background-image: linear-gradient(to top, #b3dff8 0%, #bbe0f5 50%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: .95;
  /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */ }

.background {
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: block;
  position: absolute; }

form {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px rgba(234, 177, 149, 0.31);
  padding: 2%;
  background-image: white;
  background-color: white; }

/* form Container */
form .con {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto; }

header {
  margin: 2% auto 10% auto;
  text-align: center; }

header h2 {
  font-size: 250%;
  color: #3e403f; }

header p {
  letter-spacing: 0.05em; }

input[class="form-input"] {
  width: 240px;
  height: 50px;
  margin-top: 2%;
  padding: 15px;
  font-size: 16px;
  color: #5E6472;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear; }

input[id="txt-input"] {
  width: 250px; }

/* focus  */
input:focus {
  transform: translateX(-2px);
  border-radius: 5px; }

button {
  display: inline-block;
  color: #252537;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em; }

.frgt-pass {
  background: transparent; }

.sign-up {
  background: #B8F2E6; }

button:hover {
  transform: translatey(3px);
  box-shadow: none; }

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate; }

@keyframes ani9 {
  0% {
    transform: translateY(3px); }
  100% {
    transform: translateY(5px); } }

.message-error {
  font-family: "Roboto", sans-serif;
  margin-top: 4px;
  font-size: 13px; }

.form-input {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 10px 0; }

.form-input i {
  font-size: 16px;
  padding: 0 8px; }

.log-in {
  background-color: var(--primary-color);
  color: white; }
