@charset "UTF-8";
/* Form POP UP */
.container__reception {
  margin: 16px 36px; }

.reception__form-btn-close {
  font-size: 16px; }

/* HEADER */
/* BODY */
.ctner {
  height: 75vh; }

/* DANH SÁCH PHIẾU TIẾP NHẬN */
.list-reception {
  background-color: var(--white-color);
  height: 100%;
  border-radius: 5px;
  overflow: hidden; }

.list-reception__table {
  font-size: 14px;
  cursor: default; }

.btn-pay {
  width: 80px; }

.row-btn {
  display: flex;
  justify-content: right;
  align-items: center; }

.double-input {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.double-input .form-group {
  width: 100%; }

.double-input .form-group:first-child {
  margin-right: 10px; }

.double-input .form-group:last-child {
  margin-left: 10px; }

.customer-check {
  position: relative; }

.side-new-customer {
  display: none; }

#customer-check-input:checked ~ .side-new-customer {
  display: block !important;
  animation: growth2  ease-in 0.2s; }

@keyframes growth2 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.car-present {
  font-size: 16px;
  font-weight: 700; }

.car-present label {
  margin: 0; }
