@charset "UTF-8";
/* Form POP UP */
.container__reception {
  margin: 16px 36px; }

.reception__form-btn-close {
  font-size: 16px; }

/* HEADER */
.header {
  display: flex;
  text-align: center;
  justify-content: space-between; }

.header__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color); }

.header__btn-add {
  width: 180px;
  box-shadow: 0 2px 10px var(--blue-color-rgba); }

/* BODY */
.ctner {
  height: 75vh; }

/* THANH TIỆN ÍCH */
.toolbar {
  display: flex;
  margin: 0 0 8px 0; }

.toolbar__search {
  width: 300px;
  margin-right: 16px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.toolbar__search-icon {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  cursor: pointer;
  margin: 0 4px; }

.toolbar__search-input {
  border: none;
  flex: 1;
  outline: none;
  font-size: 14px;
  margin-left: 8px; }

.toolbar__filter {
  margin-right: auto;
  width: 50px; }

.toolbar__filter-btn {
  border: none;
  color: var(--text-color);
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none; }

.toolbar__filter-item {
  font-size: 14px; }

/* DANH SÁCH PHIẾU TIẾP NHẬN */
.list-reception {
  background-color: var(--white-color);
  margin-top: 16px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden; }

.list-reception__table {
  font-size: 14px;
  cursor: default; }
