<link rel="stylesheet" href="/css/login.css">

{{!-- <img class="background" src="./img/car.jpg" alt=""> --}}
<div class="overlay">
    <form action="/login" name="login" id="login" method="POST">
        <div class="con">
            <header class="head-form">
                <h2>Đăng nhập</h2>
            </header>
            <br>
            <div class="field-set">
                <div class="form-input">
                    <i class="fa fa-user-circle"></i>
                    <input class="form-input" id="txt-input" type="text" placeholder="Tên đăng nhập" required name="account">
                </div>
                <div class="form-input">
                    <i class="fa fa-key"></i>
                    <input class="form-input" style="width: 250px" type="password" placeholder="Mật khẩu" id="pwd"  name="password" required>
                </div> 

                <div class="message-error" style="color: red;">{{Error}}</div>
                <button class="log-in"> Đăng nhập </button>
            </div>
        </div>
    </form>
    </div>


<script>
        // Show/hide password onClick of button using Javascript only

// https://stackoverflow.com/questions/31224651/show-hide-password-onclick-of-button-using-javascript-only

function show() {
    var p = document.getElementById('pwd');
    p.setAttribute('type', 'text');
}

function hide() {
    var p = document.getElementById('pwd');
    p.setAttribute('type', 'password');
}

var pwShown = 0;

</script>