<link rel="stylesheet" href="/css/repair.css">

<div class="quote__body">
    <div>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div> 
    <div>Độc Lập - Tự Do - Hạnh Phúc</div> 
    <div>-----------</div> 
    <div>Hợp Đồng Sửa Chữa Xe Ô Tô</div>
    <div>Hôm nay ngày: </div>
    <div>
        <div>Bên sửa xe (Bên A)</div>
        <div class="info-group">
            <label for="">Tên khách hàng:</label>
            <label >Nguyễn Thành Đạt</label>
        </div>
        <div class="info-group">
            <label for="">Biển số xe:</label>
            <label >098JKL</label>
        </div>
        <div class="info-group">
            <label for="">Số điện thoại:</label>
            <label >095822782</label>
        </div>
        <div class="info-group">
            <label for="">Địa chỉ:</label>
            <label >Tiền Giang</label>
        </div>
    </div>
    <div>
        <div>Bên nhận sửa xe (Bên B)</div>
        <div class="info-group">
            <label for="">Địa chỉ:</label>
            <label >Nguyễn Thành Đạt</label>
        </div>
        <div class="info-group">
            <label for="">Đại diện:</label>
            <label >098JKL</label>
        </div>
        <div class="info-group">
            <label for="">Số điện thoại:</label>
            <label >095822782</label>
        </div>
    </div>  
    <div>
        <div>Điều khoản</div>
        <div>Điều 1: Nội dung sửa chữa</div>
        <div>- Bên B tiến hành bảo trì và sửa chữa cho xe của bên A theo những thông tin tiền công và vật tư bến dưới</div>
        <div>Điều 2: Giá trị hợp đồng và phương thức thanh toán</div>
        <div>1. Giá trị hợp đồng</div>
        <div>- Giá trị hợp đồng là: </div>
        <div>- Chưa bao gồm 10% GTGT</div>
        <div>2. Phương thức thanh toán</div>
        <div>- Khách hàng trả 100% số tiền sau khi ký kết hợp đồng này và Bên B hoàn thành sửa chữa xe cho Bên A</div>
        <div>- Khách hàng chỉ được lấy xe ra khỏi Gara khi hoàn thành thanh toán hoặc ghi nợ</div>
    </div>
    <div class="table-material">
        
    </div>
    <div class="quote__btn">
        <button class="quote__btn-back btn--close-dialog">Trở lại</button>
        <button class="quote__btn-accept btn--send-dialog">Xác nhận và in báo giá</button>
    </div>
    </div>
</div>
