<link rel="stylesheet" href="/css/repair.css">

<div class="quote__body">
    <div class="quote__header">
        <div class="quote__title">Phiếu báo giá</div>
        <div class="quote__info-gara">
            <div class="quote__info-gara__name">DGara</div>
            <div class="quote__info-gara__address">Địa chỉ: Khu phố 6, Thủ Đức, Thành phố Hồ Chí Minh</div>
            <div class="quote__info-gara__phone">Số điện thoại: 099886644</div>
        </div>
    </div>

    <div class="quote__info-general">
        <div class="quote__info-general-customer">
                <div class="info-group">
                    <label for="">Mã phiếu sửa chữa:</label>
                    <label >093d53g6yg</label>
                </div>
                <div class="info-group">
                    <label for="">Tên khách hàng:</label>
                    <label >Nguyễn Thành Đạt</label>
                </div>
                <div class="info-group">
                    <label for="">Biển số xe:</label>
                    <label >098JKL</label>
                </div>
                <div class="info-group">
                    <label for="">Phone:</label>
                    <label >095822782</label>
                </div>
            </div>
            <div class="quote__info-general-status">
                <div class="info-group">
                    <label for="">Ngày lập phiếu:</label>
                    <label >05/06/2021</label>
                </div>
                <div class="info-group">
                    <label for="">Tổng tiền:</label>
                    <label >1.200.000</label>
                </div>
            </div>
    </div>

    <div class="quote__table-material">
        <div class="table-name">Thông tin vật tư</div>
        <table class="table table--default">
            <colgroup>
                <col style="width: 80px;">
                <col style="width: 300px;">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Tên vật tư</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td scope="row">ABCcccccccccccccccccc</td>
                    <td scope="row">ABCcccccccccc</td>
                    <td scope="row">ABC</td>
                    <td scope="row">ABC</td>
                    <td scope="row">ABC</td>
                </tr>
            </tbody>
        </table>
        <div class="table-total-money">Tổng: 2.356.000 </div>
    </div>

    <div class="quote__table-wage">
        <div class="table-name">Thông tin tiền công</div>
        <table class="table table--default">
            <colgroup>
                <col style="width: 80px;">
                <col style="width: 300px;">
                <col>	
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Tiền công</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td scope="row">ABC</td>
                    <td scope="row">ABC</td>
                </tr>
            </tbody>
        </table>
        <div class="table-total-money">Tổng: 2.356.000 </div>
    </div>

    <div class="quote__btn">
        <button class="quote__btn-back btn--close-dialog">Trở lại</button>
        <button class="quote__btn-accept btn--send-dialog">Xác nhận và in báo giá</button>
    </div>
</div>
